.bajada h2 {
    font-size: 2em;
    font-style: italic;
}
.vinculos {
    width: 100%;
}
.vinculosBanner {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
}
.vinculosBanner li:hover {
    color: blue;
    text-decoration: none;
    font-size: 1.2em;
}