/* Estilo Proyectos */
#proyectos {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}
#proyectos h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 1em;
    text-align: center;
}
.cardProject {
    width: 80%;
    margin: 0 auto;
    align-items: flex-start;
    display: flex;
    padding: 4em 0;
    align-items: center;
}
.cardProject .img {
    width: 50%;
    margin-right: 2em;
}
.cardProject .img img:hover {
    width: 110%;
    transition: 500ms;
}
.cardProject .descripcion {
    display: flex;
    flex-direction: column;
}
.cardProject h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
}
.cardProject .botones {
    margin-top: 1em;
}
.cardProject .botones .github {
    border: none;
    background-color: blue;
    width: 12em;
    height: 3em;
    margin-right: 1em;    
}
.cardProject .botones .github a {
    text-decoration: none;
    color: white;
}
.cardProject .botones .github:hover {
    background-color: #bbbbbb;
    font-weight: bold;
}
.cardProject .botones .demo {
    border: none;
    background-color: white;
    color: blue;
    border: 2px solid blue;
    width: 12em;
    height: 3em;
    margin-right: 1em;    
}
.cardProject .botones .demo a {
    text-decoration: none;
    color: blue;
}
.cardProject .botones .demo:hover {
    background-color: #bbbbbb;
    color: black;
    font-weight: bold;
}
.cardProjectIzq {
    width: 80%;
    margin: 0 auto;
    align-items: flex-end;
    display: flex;
    padding: 2em;
    align-items: center;
}
.cardProjectIzq .img {
    width: 50%;
    margin-left: 2em;
}
.cardProjectIzq .img img:hover {
    width: 110%;
    transition: 500ms;
}
.cardProjectIzq .descripcion {
    display: flex;
    flex-direction: column;
}
.cardProjectIzq h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
}
.cardProjectIzq .botones {
    margin-top: 1em;
}
.cardProjectIzq .botones .github {
    border: none;
    background-color: blue;
    color: white;
    width: 12em;
    height: 3em;
    margin-right: 1em;
    text-decoration: none;    
}
.cardProjectIzq .botones .github a {
    text-decoration: none;
    color: white;
}
.cardProjectIzq .botones .github:hover {
    background-color: #bbbbbb;
    color: black;
    font-weight: bold;
}
.cardProjectIzq .botones .demo {
    border: none;
    background-color: white;
    color: blue;
    border: 2px solid blue;
    width: 12em;
    height: 3em;
    margin-right: 1em;    
}
.cardProjectIzq .botones .demo a {
    text-decoration: none;
    color: blue;
}
.cardProjectIzq .botones .demo:hover {
    background-color: #bbbbbb;
    color: black;
    font-weight: bold;
}
/* Estilo Formulario Contacto */
#contacto {
    width: 100%;
    height: auto;
    background-color: #bbbbbb;
    display: flex;
}
.imgContacto {
    width: 60%;
    margin: auto;
}
#form {
    width: 40%;
    margin: 2em;
}
.encabezado h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0;
}
.encabezado p {
    font-size: 1em;
    font-style: italic;
}
#datos {
    margin-top: 1em;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ingresoDato {
    margin: 0.5em 0;
    width: 80%;
    height: 2.5em;
    align-items: flex-start;
    font-size: 1em;
    border: none;
    border-radius: 5px 5px;
}
#enviar {
    width: 12em;
    height: 3em;
    margin: 0 auto;
    margin-top: 2em;
    background-color: blue;
    color: white;
    border: none;
    align-items: center;
}
#enviar:hover {
    background-color: white;
    color: blue;
    font-weight: bold;
    border: 3px solid blue;
    transition: 300ms;
}
